## Archives
*.zip
*.tar.gz

## Node.js
*/node_modules/

## LaTeX outputs
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf

## Lab specific stuff ##

# gulp will generate public css and js files in Lab3
Lab3/public/css/
Lab3/public/js/

# Lab4 react-app
Lab4/build/
Lab4/coverage/
Lab4/.env.local
Lab4/.env.development.local
Lab4/.env.test.local
Lab4/.env.production.local
Lab4/npm-debug.log*
Lab4/yarn-debug.log*
Lab4/yarn-error.log*
