@import "variables";
@import "../bootstrap-4.0.0-beta/scss/bootstrap.scss";

.card {
    margin-bottom: 5px;

    .card-body {
        background-color: $my-bg;
        color: $my-fg;
    }
}

.modal-header, .modal-body, .modal-footer {
    background-color: $my-bg;

    button.close {
        color: $my-fg;
    }
}

.navbar {
    //use map-get to avoid hard-coding bootstrap breakpoints
    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        float: left;
        display: inline;
    }
}
