* {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form > label {
    float: left;
    width: 10em;
}

form > input {
    display: block;
}

form > #submit {
    margin-top: 5px;
}

#form-errors {
    color: maroon;
    background: lightpink;
}

#results {
    border: thin;
}

.message {
    color: blue;
    background: lightblue;
}
